[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = " https://test.pypi.org/simple/"
verify_ssl = true
name = "lambdata_han"

[dev-packages]

[packages]
pandas = "*"
twine = "*"
setuptools = "*"
wheel = "*"

[requires]
python_version = "3.7"
